{% extends 'base.html' %}
{% load static %}
{% block title %}   Products    {% endblock title %}
{% block navbar %}
<style type="text/css">
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
}
h2 b {
	color: #ffc000;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	min-height: 330px;
    text-align: center;
	overflow: hidden;
}
.carousel .item .img-box {
	height: 140px;
	width: 100%;
	position: relative;
}
.carousel .item img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
	margin: 10px 0;
}
.carousel .item .btn {
	color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .item .btn:hover, .carousel .item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
.carousel .carousel-control {
	height: 50px;
    width: 50px;
    background: #f2f2f2;
    margin: auto 0;
	border-radius: 50%;
}
.carousel .carousel-control i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
.carousel .item-price span {
	color: #86bd57;
	font-size: 110%;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.left i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
}
.carousel-indicators li {
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
	background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}
</style>
<header id="wn__header" class="header__area header__absolute sticky__header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<div class="logo">
							<a href="index.html">
								<img src="{% static 'images/logo/logo.png' %}" alt="logo images">
							</a>
						</div>
						{{ navdata }}
					</div>
					<div class="col-lg-8 d-none d-lg-block">
					<!-- Navbars code starts here -->
					<nav class="mainmenu__nav">
					<ul class="meninmenu d-flex justify-content-start">
						{% for men in menu %}
							{% if men.active %}
								<li class="drop with--one--item"><a href="index.html">{{men.menu_name}}</a>
								{% if men.has_submenu %}
									<div class="megamenu mega03">
										<ul class="item item03">

											{% for subme in submenu %}

												{% if men.id == subme.submenu_id_id and subme.active %}
<!--													{% for i in values1	 %}-->
<!--														{% if i == subme.submenu_title %}-->
<!--															<li class="title">{{ subme.submenu_title }}</li>-->
<!--														{% endif %}-->
<!--													{{ break }}-->
<!--													{% endfor %}-->
													<li><a href="shop-grid.html">{{ subme.submenu_name }}</a></li>
												{% endif %}
											{% endfor %}

											</ul>
									</div>
								{% endif %}
							</li>
							{% endif %}
						{% endfor %}
					</ul>
					</nav>
					<!-- Navbars code ends here -->
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<ul class="header__sidebar__right d-flex justify-content-end align-items-center">
							<li class="shop_search"><a class="search__active" href="#"></a></li>
							<li class="wishlist"><a href="#"></a></li>
							<li class="shopcart"><a class="cartbox_active" href="#"><span class="product_qun">3</span></a>
								<!-- Start Shopping Cart -->
								<div class="block-minicart minicart__active">
									<div class="minicart-content-wrapper">
										<div class="micart__close">
											<span>close</span>
										</div>
										<div class="items-total d-flex justify-content-between">
											<span>3 items</span>
											<span>Cart Subtotal</span>
										</div>
										<div class="total_amount text-right">
											<span>$66.00</span>
										</div>
										<div class="mini_action checkout">
											<a class="checkout__btn" href="cart.html">Go to Checkout</a>
										</div>
										<div class="single__items">
											<div class="miniproduct">
												{% for i in 'avb' %}
												<div class="item01 d-flex mt--20">
													<div class="thumb">
														<a href="product-details.html"><img src="{% static 'images/product/sm-img/1.jpg' %}" alt="product images"></a>
													</div>
													<div class="content">
														<h6><a href="product-details.html">Voyage Yoga Bag</a></h6>
														<span class="prize">$30.00</span>
														<div class="product_prize d-flex justify-content-between">
															<span class="qun">Qty: 01</span>
															<ul class="d-flex justify-content-end">
																<li><a href="#"><i class="zmdi zmdi-settings"></i></a></li>
																<li><a href="#"><i class="zmdi zmdi-delete"></i></a></li>
															</ul>
														</div>
													</div>
												</div>
												{% endfor %}
											</div>
										</div>
										<div class="mini_action cart">
											<a class="cart__btn" href="cart.html">View and edit cart</a>
										</div>
									</div>
								</div>
								<!-- End Shopping Cart -->
							</li>
							<li class="setting__bar__icon"><a class="setting__active" href="#"></a>
								<div class="searchbar__content setting__block">
									<div class="content-inner">
										<div class="switcher-currency">
											<strong class="label switcher-label">
												<span>Currency</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<span class="currency-trigger">USD - US Dollar</span>
													<ul class="switcher-dropdown">
														<li>GBP - British Pound Sterling</li>
														<li>EUR - Euro</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="switcher-currency">
											<strong class="label switcher-label">
												<span>Language</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<span class="currency-trigger">English01</span>
													<ul class="switcher-dropdown">
														<li>English02</li>
														<li>English03</li>
														<li>English04</li>
														<li>English05</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="switcher-currency">
											<strong class="label switcher-label">
												<span>Select Store</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<span class="currency-trigger">Fashion Store</span>
													<ul class="switcher-dropdown">
														<li>Furniture</li>
														<li>Shoes</li>
														<li>Speaker Store</li>
														<li>Furniture</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="switcher-currency">
											<strong class="label switcher-label">
												<span>My Account</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<div class="setting__menu">
														<span><a href="#">Compare Product</a></span>
														<span><a href="#">My Account</a></span>
														<span><a href="#">My Wishlist</a></span>
														<span><a href="#">Sign In</a></span>
														<span><a href="#">Create An Account</a></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!-- Start Mobile Menu -->
				<div class="row d-none">
					<div class="col-lg-12 d-none">
						<nav class="mobilemenu__nav">
							<ul class="meninmenu">
								<li><a href="index.html">Home</a></li>
								<li><a href="#">Pages</a>
									<ul>
										<li><a href="about.html">About Page</a></li>
										<li><a href="portfolio.html">Portfolio</a>
											<ul>
												<li><a href="portfolio.html">Portfolio</a></li>
												<li><a href="portfolio-details.html">Portfolio Details</a></li>
											</ul>
										</li>
										<li><a href="my-account.html">My Account</a></li>
										<li><a href="cart.html">Cart Page</a></li>
										<li><a href="checkout.html">Checkout Page</a></li>
										<li><a href="wishlist.html">Wishlist Page</a></li>
										<li><a href="error404.html">404 Page</a></li>
										<li><a href="faq.html">Faq Page</a></li>
										<li><a href="team.html">Team Page</a></li>
									</ul>
								</li>
								<li><a href="shop-grid.html">Shop</a>
									<ul>
										<li><a href="shop-grid.html">Shop Grid</a></li>
										<li><a href="single-product.html">Single Product</a></li>
									</ul>
								</li>
								<li><a href="blog.html">Blog</a>
									<ul>
										<li><a href="blog.html">Blog Page</a></li>
										<li><a href="blog-details.html">Blog Details</a></li>
									</ul>
								</li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- End Mobile Menu -->
	            <div class="mobile-menu d-block d-lg-none">
	            </div>
	            <!-- Mobile Menu -->
			</div>
		</header>
{% endblock navbar %}
{% block content %}
<!-- Start Search Popup -->
<div class="brown--color box-search-content search_active block-bg close__top">
	<form id="search_mini_form" class="minisearch" action="#">
		<div class="field__search">
			<input type="text" placeholder="Search entire store here...">
	shop now		<div class="action">
				<a href="#"><i class="zmdi zmdi-search"></i></a>
			</div>
		</div>
	</form>
	<div class="close__wrap">
		<span>close</span>
	</div>
</div>
<!-- End Search Popup -->
<!-- Start Slider area -->
<div class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
	<!-- Start Single Slide -->
	{% for slider_image in slider_images %}
	<div class="slide animation__style10 fullscreen align__center--left" style="background-color:#f1f1f1">
		<div class="container" style="background-image:url(/media/{{slider_image.image}});background-size: contain;">
			<div class="row">
				<div class="col-lg-12">
					<div class="slider__content">
						<div class="contentbox">
							<h2>Buy <span>your </span></h2>
							<h2>favourite <span>Book </span></h2>
							<h2>from <span>Here </span></h2>
							<a class="shopbtn" href="#">shop</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
	<!-- End Single Slide -->
</div>
<!-- End Slider area -->
<!-- Start BEst Seller Area -->
<div class="container mt-4">
	<div class="row">
		<div class="col-md-12">
			{% for product, range, slides, all_rates in all_products %}
			<h2>Trending <b>Products</b> of {{product.0.category_id}}</h2>
			<div id="myCarousel{{forloop.counter}}" class="carousel slide" data-ride="carousel" data-interval="0">
			<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel{{forloop.parentloop.counter}}" data-slide-to="0" class="active"></li>
					{% for i in range %}
					<li data-target="#myCarousel{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
					{% endfor %}
				</ol>
				<!-- Wrapper for carousel items -->
<!--				<div class="carousel-inner">-->
				<div class="item carousel-item active">
					<div class="row product product__style--3" >
						<div class="col-sm-3 col-md-3 col-xs-3">
							{% if product.0.offer %}
							<div class="product__thumb" style="overflow:visible">
								<a class="first__img" href="single-product.html"><img src="{% static 'images/books/1.jpg' %}" alt="product image"></a>
								<a class="second__img animation1" href="single-product.html"><img src="{% static 'images/books/2.jpg'%}" alt="product image"></a>
								<div class="hot__box">
									<span class="hot-label">{{product.0.offer}}</span>
								</div>
							</div>
							{% endif %}
							<div class="card" style="width:12rem">
								<div class="thumb-wrapper card-body">
								<div class="img-box">
									<img src="/media/{{product.0.image}}" class="img-responsive img-fluid" alt="">
								</div>

								<div class="thumb-content">
									<h4 class="card-title">{{product.0.product_name}}</h4>
									<p class="item-price"><strike>${{product.0.price}}</strike> <span>${{product.0.price}}</span></p>
									<div class="star-rating">
										<ul class="list-inline">
											{% for rate in all_rates.0 %}
													{% for i in rate %}
														{% if i == '0' %}
														<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
														{% else %}
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														{% endif %}
													{% endfor %}
											{% endfor %}
										</ul>
									</div>
									<a href="{{product.0.id}}" class="btn btn-primary">Add to Cart</a>
								</div>
							</div>
							</div>
						</div>
						{% for i in product|slice:"1:" %}
					    <div class="col-sm-3 col-md-3 col-xs-3">
							{% if i.offer %}
							<div class="product__thumb" style="overflow:visible">
								<a class="first__img" href="single-product.html"><img src="{% static 'images/books/1.jpg' %}" alt="product image" style="background-size: cover"></a>
								<a class="second__img animation1" href="single-product.html"><img src="{% static 'images/books/2.jpg'%}" alt="product image"></a>
								<div class="hot__box">
									<span class="hot-label">{{i.offer}}</span>
								</div>
							</div>
							{% endif %}
							<div class="card" style="width:12rem">
								<div class="thumb-wrapper card-body">
								<div class="img-box">
									<img src="/media/{{i.image}}" class="img-responsive img-fluid" alt="">
								</div>

								<div class="thumb-content">
									<h4 class="card-title">{{i.product_name}}</h4>
									<p class="item-price"><strike>${{i.price}}</strike> <span>${{i.price}}</span></p>
									<div class="star-rating">
										<ul class="list-inline">
											{% for rate in all_rates|slice:"1:" %}
											    {% if forloop.parentloop.counter == forloop.counter %}
													{% for i in rate %}
														{% if i == '0' %}
														<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
														{% else %}
														<li class="list-inline-item"><i class="fa fa-star"></i></li>
														{% endif %}
													{% endfor %}
												{% endif %}
											{% endfor %}
										</ul>
									</div>
									<a href="{{i.id}}" class="btn btn-primary">Add to Cart</a>
								</div>
							</div>
							</div>
						</div>
						{% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
					</div>
				</div>
					<div class="item carousel-item ">
						<div class="row product product__style--3" >
							{% endif %}
							{% endfor %}
						</div>
				</div>
				<!-- Carousel controls -->
			<a class="carousel-control left carousel-control-prev" href="#myCarousel{{forloop.counter}}" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="carousel-control right carousel-control-next" href="#myCarousel{{forloop.counter}}" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- Start BEst Seller Area -->
{% endblock content %}
